@using FinanceApp.Shared.Models.TickerDetails
@using FinanceApp.Shared.Models.Tickers
@inject IHttpClientFactory ClientFactory

<MudItem Class="mt-4">
    @if (tickerDetails != null)
    {
        @*<p>CEO: @tickerDetails.ResultsDto. </p>*@
        <StockOpenClose SelectedTicker="@SelectedTicker"> </StockOpenClose>
    }
</MudItem>

@code {
    [Parameter]
    public Result? SelectedTicker { get; set; }

    private TickerDetailsDto? tickerDetails;

    protected override async Task OnParametersSetAsync()
    {
        if (SelectedTicker != null)
        {
            try
            {
                var client = ClientFactory.CreateClient("FinanceApp.ServerAPI");
                tickerDetails = await client.GetFromJsonAsync<TickerDetailsDto>($"api/tickers/{SelectedTicker.Ticker}");
            }
            catch (HttpRequestException ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }
}
